/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.email-input {
  width: 240px;
}
.label-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.textarea {
  width: 240px;
  margin-bottom: 20px;
}

.button-submit {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: 0;
  background-color: #4e75ff;
  color: #fff;
}

.gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  row-gap: 24px;
}
.gallery-link {
  display: block;
}
.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.gallery-image:hover {
  transform: scale(1);
}
